{% extends 'home/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}About Us{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col d-flex justify-content-center"><h1>Who are we?</h1></div>
        </div>
    <div class="row">
        <div class="col text-center"><h5>Scav è una cifra ricchione ma luca di piu<br>quindi scialla ci piace a tutti il cazzo</h5></div>
    </div>
</div>
{% endblock %}
</body>
</html>