{% extends 'home/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Contact Us{% endblock %}</title>
</head>
<body>
    {%block content%}
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col d-flex justify-content-center"><h1>Contact us</h1></div>
            </div>
        <div class="row">
            <div class="col text-center"><h5>IG: @ttbreseller</h5></div>
        </div>
    </div>
    {% endblock %}
</body>
</html>